
.text{
    color: white;
    /* border: 2px solid cyan; */
    width:100%;
    height: 30%;
    /* font-size: xx-large; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4.3vw;
    font-family: "Lovelo-line-light";
    font-weight: 900;
    text-shadow: 
            0 0 0.1rem rgb(0, 0, 0),
            0 0 0.3rem rgb(0, 0, 0),
            0 0 1rem rgb(159, 151, 255),
            0 0 4rem rgb(228, 175, 255);
    animation: flicker 2s;
    animation-iteration-count: infinite;
    /* animation will rum for 2s*10 = 20s 
    change it to infinte for infinite flickering*/
}

/* to remove animation comment about animation property and 
delete below  keyframes CSS*/ 

@keyframes flicker{
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100%{
        text-shadow: 
            0 0 0.1rem rgb(0, 0, 0),
            0 0 0.3rem rgb(0, 0, 0),
            0 0 1rem rgb(159, 151, 255),
            0 0 4rem rgb(228, 175, 255);
        color: white;
        
    }
    20%, 24%, 55%{
        text-shadow: none;
        color: rgba(255, 255, 255, 0.287);
    }
    5%, 22%, 40%, 57%, 99%{
        text-shadow: 
            0 0 0.1rem rgb(0, 0, 0),
            0 0 0.3rem rgba(255, 255, 255, 0.394),
            0 0 1rem rgb(159, 151, 255),
            0 0 4rem rgb(228, 175, 255);
    } 

}


@media only screen and (max-width: 1080px){
    .text{
        margin-top: 5%;
        height: 30%;
        letter-spacing: 0.1rem;
        line-height: 4rem;
        font-size: 3rem;
    }
}
@media only screen and (max-width: 480px){
    .text{
        /* border: 1px solid red; */
        /* margin-top: 2rem; */
        height: 30%;
        font-size: 1.7rem;
        line-height: 3rem;
        /* letter-spacing: 0.1rem; */
    }
}