
.my-container{
    /* border: 1px solid red; */
    height: 60vh;
    width: 100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    color: white;
    overflow: hidden;
    gap: 1rem;
}

.navArrows{
    /* border: 1px solid yellow; */
    font-size: 1.5rem;
    font-weight: lighter;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s linear;
}

.navArrows:hover{
    border-radius: 50%;
    text-shadow:  
        0 0 0.1rem rgb(189, 179, 201),
        0 0 1rem rgb(251, 250, 255),
        0 0 4rem rgb(228, 175, 255);
    /* font-weight: 600; */
}

.navArrows-inactive{
    color: grey;
}

.navArrows-inactive:hover{
    border-radius: none;
    text-shadow: none;
}

#right{
    margin-right: 2rem;
}

#left{
    margin-left: 2rem;
}

@media only screen and (max-width: 480px) {
    .container{
        /* border: 1px solid blue; */
        height: 60%;
    }

    #left{
        margin-left: 0.5rem;
    }
    #right{
        margin-right: 0.5rem;
    }
    
}
