
/*----------------------------------------------------*/

.eve{
    background-image: linear-gradient(#1e263900, rgb(0, 0, 0));
    backdrop-filter: blur(5px);
    height: auto;
    overflow-x: hidden;
}

.cont{
    display: flex;
    justify-content: center;
    height: 20vh;
    margin-top: 3rem;
    /* margin-bottom: 5rem; */
}

/* @media only screen and (max-width: 480px){

}

@media only screen and (max-width: 1080px){
    
} */



