.main{
    background: radial-gradient(46.29% 45.6% at 52.26% 57.07%, #5B13D1 0%, #050505 76.56%);
}

.subhero-section-part1-headtxt{
    
  color: #D9BA7E;
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  background-clip: text;
  text-decoration-color: transparent;
    font-weight: 700;
    font-size: calc(0.514rem + 2.5vw);
  
}

.waltz-txt{
    font-family: "Lovelo-line-light";
    color: #EFAE04;
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    background-clip: text;
    text-decoration-color: transparent;
    /* color: transparent; */
}

.text1{
    font-size: calc(0.625rem + 0.5vw);
}
.text2{
    padding-right: calc(2.525rem + 2.9vw);
    font-size: calc(0.625rem + 0.5vw);
}
.text3{
    font-size: calc(0.625rem + 0.4vw);
    font-weight:100;
    padding: 0; 
}

.hero-section-foot{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 60px;
    margin: 0;
    /* padding-left: 3px;
    padding-right: 1px; */

}



  .pink-btn{
    color: #e100ff;
    border: 1.5px solid #e100ff;
    border-radius: 50%;  
  }
  .pink-btn:hover{
    background-color: #e100ff;
    color: #050801;
    box-shadow: 0px 0px 5px #e100ff, 0px 0px 25px #e100ff, 0px 0px 50px #e100ff, 0px 0px 100px #e100ff;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); 
  }

  .under {
    /* position: absolute; */
    position: relative;
    left: 30px;
    top: -20rem;
    z-index: 2;
    cursor: pointer;
  }
  
  .over {
    position: absolute;
    left: 80px;
    top: 280px;
    z-index: 2  ;
    
  }

  .text2{
    text-align: justify;
  }

  @media (max-width: 767px) {
    .subhero-section-part2{
        margin: 0;padding: 0;
    }
    .under {
      position: relative;
      left: 0px;
      top: -72rem;
      z-index: 2;
      cursor: pointer;
    }
    
    .over {
      position: absolute;
      left: 0.8rem;
      top:14.0rem;
      z-index: 3;
      width: 80%;
    }
  }

 
.under:hover{
    border-radius: 50%;
    background-color: #e100ff;
    color: #050801;
    box-shadow: 0px 0px 5px #e100ff, 0px 0px 25px #e100ff, 0px 0px 50px #e100ff, 0px 0px 100px #e100ff;
    
    /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);  */
    
}