.navbar-container{
    position: sticky;
    top: 0px;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 3;
}

.navbar-option{
    display: none;
}

.active{
    background-color: black;
}

.navbar-option-list{
    width: 60%;
    align-items: center;
    justify-content: center;
}

.navbar-option-list ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
}

.navbar-option-list li a {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

.navbar-option-list li a:hover{
    color: #A023BF;
}

.navbar-option-icons{
    width: 8%;
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
}


@media (max-width: 767px) {

    .navbar-container{
        position: sticky;
        top: 0px;
        padding: 0.5rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        z-index: 3;
    }
    .navbar-option-list {
      display: none;
    }

    .navbar-option{
        display: block;
        list-style: none;
        
    }

    .nav-item{
        text-decoration: none;
    }


    .navbar-option{
        width: 85%;
        align-items: center;
        justify-content: center;
    }
    
    .navbar-option ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: space-evenly;
    }
    
    .navbar-option li a {
        color: #FFFFFF;
        cursor: pointer;
        text-decoration: none;
    }
    
    .navbar-option li a:hover{
        color: #A023BF;
    }


    .navbar-toggler {
      display: block;
      float: right;
      margin-top: 5px;
      display: flex;
      width: 13%;
      height: 3rem;
      background-image: url("/src/assests/images/menu.png");
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 12rem;
      flex-direction:row-reverse;
      top: 0;
    }
    .navbar-toggler-icon {
      /* display: inline-block;
      width: 30px;
      height: 30px;
      background-image: url("/src/assests/images/avatar.png");
      background-repeat: no-repeat;
      background-size: cover;
      margin-left: 13rem; */
    }
    .navbar-toggle:checked ~ .navbar-option-list {
      display: flex;
      position:absolute;
      width: 100vw;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: black;
      z-index: 1;
      margin-top: 5px;
      left: 0;
    }

    .navbar-toggle:checked ~ .navbar-option-list ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: space-evenly;
        align-items: center;
        
    }
    .navbar-toggle:checked ~ .navbar-option-list li {
        /* display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: space-evenly;
        align-items: center; */

        margin: 50px;
        top: 0;
        
        
    }

    .navbar-brand {
        margin-top: 0.1rem;
        padding: 0.6rem;
    }

    .offcanvas{
        background-image: url("/src/assests/images/ham.png");
        border-radius: 3px;
    }

    .res{
        margin: 2.3rem;
        
    }
    
  }
  