.navbar-container{
    position: sticky;
    top: 0px;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 3;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.2px);
    -webkit-backdrop-filter: blur(17.2px);
}

.navbar-option{
    display: none;
}

.signinbutton a{
    padding: 0.4rem 0.6rem;
    border: 2px solid #5B13D1;
    border-radius: 0.3rem;
    transition: 0.3s all ease-in;
}
.registerbutton a{
    padding: 0.4rem 0.6rem;
    background-color:  #5B13D1;
    border-radius: 0.3rem;
}

.navbar-option-list{
    width: 80%;
    align-items: center;
    justify-content: center;
}

.navbar-option-list ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
}

.navbar-option-list li a {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

.navbar-option-list li a:hover{
    color: #C78E25;
}

.navbar-option-icons{
    width: 8%;
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
}

.link li {
    display: inline-block;
  }
  .link li,
  .link li:after,
  .link li:before {
  transition: all .5s;
}
.link li:hover {
  color: #555;
}

.link.stroke  li ,
.link.fill li {
    position: relative;
  }
  .link.stroke li:after,
  .link.fill  li:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #C78E25;
    height: 1px;
  }
  .link.stroke li:hover:after {
    width: 100%;
  }
  
  .link.fill  li {
    transition: all 2s;
  }
  
  .link.fill  li:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
  }
  .link.fill  li:hover {
    color: #C78E25;
    z-index: 1;
  }
  .link.fill  li:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
  }

.signinbutton:hover a{
    background-color: #5B13D1;
}
@media (max-width: 767px) {
    .active{
      backdrop-filter: none;
      -webkit-backdrop-filter:none;
    }
    .navbar-container{
        position: sticky;
        top: 0px;
        padding: 0.5rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        z-index: 3;
    }
    .navbar-option-list {
      display: none;
    }

    .navbar-option{
        display: block;
        list-style: none;
        
    }

    .nav-item{
        text-decoration: none;
    }


    .navbar-option{
        width: 85%;
        align-items: center;
        justify-content: center;
    }
    
    .navbar-option ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: space-evenly;
    }
    
    .navbar-option li a {
        color: #FFFFFF;
        cursor: pointer;
        text-decoration: none;
    }
    
    .navbar-option li a:hover{
        color: #A023BF;
    }


    .navbar-toggler {
      display: block;
      float: right;
      margin-top: 5px;
      display: flex;
      width: 13%;
      height: 3rem;
      background-image: url("/src/assests/images/menu.png");
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 12rem;
      flex-direction:row-reverse;
      top: 0;
    }
    /* .navbar-toggler-icon {
     display: inline-block;
      width: 30px;
      height: 30px;
      background-image: url("/src/assests/images/avatar.png");
      background-repeat: no-repeat;
      background-size: cover;
      margin-left: 13rem; 
    } */
    .navbar-toggle:checked ~ .navbar-option-list {
      display: flex;
      position:absolute;
      width: 100vw;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: black;
      z-index: 1;
      margin-top: 5px;
      left: 0;
    }

    .navbar-toggle:checked ~ .navbar-option-list ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: space-evenly;
        align-items: center;

    }
    .navbar-toggle:checked ~ .navbar-option-list li {
        /* display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: space-evenly;
        align-items: center; */

        margin: 50px;
        top: 0;
        
        
    }

    .navbar-brand {
        margin-top: 0.1rem;
        padding: 0.6rem;
    }

    .offcanvas{
        background-image: url("/src/assests/images/ham.png");
        border-radius: 3px;
    }

   
    .res{
        margin: 2.3rem;
        
    }
    
  }
.empbtn
{
  all:unset;
}