.wrapper{
    background-color: black;
    color: white;
}

.footer{
    padding: 40px 20px;
    letter-spacing: 1px;
    font-family: 'Ruda', sans-serif;
    margin: 0px 90px ;
}

.first-child{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.line{
    content: '';
    display: block;
    height: 2px;
    background-color: white;
    margin: 30px 0px;
}

.left-col h1{
    margin-bottom: 20px;
    letter-spacing: 4px;
    font-weight: 900;
    font-family: "Lovelo-black";
}

.left-col h1 span{
    color: rebeccapurple;
}

.left-col p{
    max-width: 60%;
    line-height: 25px;
}


.right-col{
    width: 50%;;
    gap: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.left-list a{
    text-decoration: none;
    color: white;
}

.right-list a{
    text-decoration: none;
    color: white;
}

.left-list ul{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.right-list ul{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.last-child{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.icons{
    display: flex;
    gap: 20px;
}

.icon{
    width: 20px;
}

.icons a{
    scale: 1.12;
    color: white;
    transition: all 0.3s ease-in-out;
}

.icons a:hover{
    color: blueviolet;
    transform: translateY(-4px);
}

@media only screen and (max-width: 1200px) {
    .footer{
        margin: 0 40px;
    }   
    .right-col{
        width: 80%;
    }

}

@media only screen and (max-width: 650px){

    .footer{
        margin: 0 40px;
    }
 
    .first-child{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .left-list{
        margin-left: 0px;
    }
    .left-col p{
        max-width: 100%;
    }
    .right-col{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}
    