.Register {
  text-align: center;
}

.center{
  display: flex;
  justify-content: center;
}

.card-title{
  font-size: 2.3rem;
  background: linear-gradient(90deg, rgba(80,56,199,1) 42%, rgba(160,35,191,1) 57%);
  font-weight: 600;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.submit-btn{
  display: flex;
  margin-top: 5.4rem;
}
.registered-text{
  display: none;
}

@media (max-width: 767px){

  .last-btn{
    margin-bottom: 5rem;
  }
  .registered-text{
    display: flex;
    transform: translateY(5rem);
  }
  
}