.sponsors-container {
  background: url("../../assests/images/starBg.png");
  background-size: cover;
}

.sponsors-container-top-image img {
  position: absolute;
  overflow-y: hidden;
  width: 100%;
}

.sponsors-container h1 {
  margin-top: 60px;
  background: linear-gradient(
    90.07deg,
    #d9ba7e 18.12%,
    rgba(228, 177, 77, 0.463235) 94.05%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: "Lovelo-line-light";
  text-align: center;
  font-weight: 700;
  font-size: 70px;
}

.sponsors-content {
  padding: 300px 100px;
}

.sponsors-content p {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: white;
  max-width: 800px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

.button-outline-transparent {
  border: 3px solid #c78e25;
  width: 10rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 4px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

.sponsor-btn {
  position: relative;
  top: 170px;
  margin: auto;
  margin-top: 70px;
  font-weight: 500;
  font-size: 18px;
  color: white;
  transition: 0.3s all ease-in;
}

.sponsor-btn:hover {
  background-color: #c78e25;
}

@media only screen and (max-width: 1000px) {
  .sponsors-content {
    padding: 100px;
  }

  .sponsors-container h1 {
    /* position: absolute; */
    margin-top: 10rem;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
  }

  .sponsors-container p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }

  .sponsor-btn {
    top: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }

  .button-outline-transparent {
    max-width: 155px;
    max-height: 39px;
    border: 2px solid #c78e25;
    padding: 6px 13px;
  }
}

@media only screen and (max-width: 600px) {
  .sponsors-content {
    padding: 80px 50px;
    /* width: 100%; */
  }

  .sponsors-container h1 {
    margin-top: 60px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
  }

  .sponsors-container p {
    /* width: 100%; */
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }

  .sponsor-btn {
    font-weight: 500;
    font-size: 12px;
    line-height: 27px;
  }

  .card {
    padding: 20px 0px;
    background-color: blue;
  }

  .button-outline-transparent {
    position: relative;
    top: 50px;
    max-width: 110px;
    max-height: 32px;
    padding: 6px 13px;
  }
}
.SponsorNames {
  width: 100%;
}
.SponsorCard {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 280px;
  height: 400px;
  overflow: hidden;
}
